# Q.1

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
newlist = []
for i in range(x+1):
  for j in range(y+1):
    for k in range(z+1):
      if (i+j+k) != n:
        newlist.append([i,j,k])
print(newlist)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

# Q.2

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = set(map(int, input().split()))
arr.remove(max(arr))
print (max(arr))

5
2 3 6 6 5
5

# Q.3

In [ ]:
if __name__ == '__main__':
    students_grade=[]
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students_grade.append([name,score])
    sorted_scores = sorted(list(set([x[1] for x in students_grade])))
    second_lowest = sorted_scores[1]
    low_final_list =[]
    for student in students_grade:
        if second_lowest == student[1]:
            low_final_list.append(student[0])
    for student in sorted(low_final_list):
        print(student)

4
Prashant
32
Pallavi
36
Dheeraj
39
Shivam
40
Pallavi

# Q.4

In [ ]:
if __name__ == '__main__':
    n = int(input())
    x = [input().split() for i in range(n)]
    c = input()
    d = {}
    for i in range(n):
        d[x[i][0]] = list(map(float,x[i][1:]))
    print(f'{sum(d[c])/len(d[c]):.2f}')

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

# Q.5

In [ ]:
if __name__ == '__main__':
    N = int(input())
    lst = []
    for _ in range(N):
        func, *args = input().split()
        if func != 'print':
            getattr(lst, func)(*map(int, args))
        else:
            print(lst)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

# Q.6

In [ ]:
# From the discussion section: "THE TEST is for PYPY3, not Python3. Make sure to change language to Pypy3 "
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t));

# Q.7

In [ ]:
def average(array):
    s=set(array)
    return sum(s)/len(s)
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

# Q.8

In [ ]:
n, m = input().split()
sc_ar = input().split()
A = set(input().split())
B = set(input().split())
print (sum([(i in A) - (i in B) for i in sc_ar]))

3 2
1 5 3
3 1
5 7
1

# Q.9

In [ ]:
M = int(input())
mset = set(map(int, input().split()))
N = int(input())
nset = set(map(int, input().split()))
mdef = mset.difference(nset)
ndef = nset.difference(mset)
output = mdef.union(ndef)
for i in sorted(list(output)):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

# Q.10

In [ ]:
N = int(input())
countries = set()
for i in range(N):
    countries.add(input())
print(len(countries))

7
UK
China
USA
France
New Zealand
UK
France
5

Q. 11

In [ ]:
n = int(input())
s = set(map(int, input().split()))
d = {"pop":s.pop, "remove": s.remove, "discard": s.discard}
for _ in range(int(input())):
    c = input().split()
    d[c[0]](int(c[1])) if len(c) > 1 else d[c[0]]()
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

# Q.12

In [ ]:
m = int(input())
eng_roll = set(input().split())
n = int(input())
french_roll = set(input().split())
print(len(eng_roll.union(french_roll)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

# Q.13

In [ ]:
eng_num = int(input())
eng_set = set(map(int, input().split()))
fren_num = int(input())
fren_set = set(map(int, input().split()))
print (len(eng_set.intersection(fren_set)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

# Q.14

In [ ]:
num1 = int(input())
setA = set(map(int, input().split()))
num2 = int(input())
setB = set(map(int, input().split()))

print(len(setA.difference(setB)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

# Q.15

In [ ]:
num1 = int(input())
setA = set(map(int, input().split()))
num2 = int(input())
setB = set(map(int, input().split()))

print(len(setA.symmetric_difference(setB)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

# Q.16

In [ ]:
len_set = int(input())
H = set(map(int,input().split()))
N = int(input())
for i in range(N):
    R = input().split()
    Rtemp = set(map(int,input().split()))
    if R[0] == 'update':
        H.update(Rtemp)
    elif R[0] == 'intersection_update':
        H.intersection_update(Rtemp)
    elif R[0] == 'difference_update':
        H.difference_update(Rtemp)
    elif R[0] == 'symmetric_difference_update':
        H.symmetric_difference_update(Rtemp)
    else:
        print ('Incorrect parameters')
print(sum(H))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

# Q.17

In [ ]:
N = int(input())
storage = map(int, input().split())
storage = sorted(storage)
for i in range(len(storage)):
    if(i != len(storage)-1):
        if(storage[i]!=storage[i-1] and storage[i]!=storage[i+1]):
            print(storage[i])
            break;
    else:
        print(storage[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

# Q.18

In [ ]:
for i in range(int(input())):
    A = int(input())
    set_A = set(map(int, input().split()))
    B = int(input())
    set_B = set(map(int, input().split()))
    if len(set_A - set_B) == 0:
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

# Q.19

In [ ]:
A = set(input().split())
N = int(input())
output = True
for i in range(N):
    A2 = set(input().split())
    if not A2.issubset(A):
        output = False
    if len(A2) >= len(A):
        output = False
print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False